@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
*{

    margin: 0;
    padding: 0;
}
:root{
    --main-bg-color:#2874f0;
}
/* .container{
    background-color: blue;
    height:50px;
    /* overflow: hidden; */
    /* width: 100vw; */
/* } */
/* div{
    display: flex;
    color: white;
    font-family:'Times New Roman', Times, serif;
} */
/* h{
    margin-top: 10px;
    transform: translateX(190px);
} */
 /* #SearchBar{
    margin-top: 10px;
    padding-top:8px;
    padding-left: 20px;
    height: 17px;
    width:200px;
    font-size: small;
    /* float: right; */
    /* display: inline; */
    /* transform: translateX(200px); */
    

/* } */ */
.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
header{
    background:var(--main-bg-color);
    /* background-color: black; */
    height: 58px;
    /* color: white; */
    /* border: 2px solid red; */
}
main{
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background-color: black; */
    background:var(--main-bg-color);
    height: 12vh;
    color: white;
    font-family: 'Lato', sans-serif;
}
ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
     align-items: center;
}
li{
    
    list-style: none;
    padding: 0px 23px;
    
}
a{
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif;
}